@charset "UTF-8";

:root {
	--primary-color: #415167;
	--accent-color-1: #C7A17A;
	--accent-color-2: #FFF;
	--light-gray: #EDF0F5;
}

body {
	margin: 0;
	padding: 0;
	/* базовые стили для всей страницы */
	font-family: 'Nunito', sans-serif;
	color: var(--primary-color);
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

p, h1 {
	margin: 0;
}

button {
	cursor: pointer;
}

.page-container {
	background-color: #F9FBFF;
    min-width: 320px;
	margin: 0 auto;
}

/* -------------- */
/* general styles */
/* -------------- */

.accent-decore {
	color: var(--accent-color-2);
	background-color: var(--accent-color-1);
}

.title-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

.circe {
	border: 0 solid transparent;
	border-radius: 50%;
}

.link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}

.flex-centering {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* лучше таргетно наверное делать... */
.animation-hover {
	transition: all 0.1s;
}
.animation-hover:hover {
	transition: all 0.1s;
}

.opacity-hover {
	transition-property: opacity;
}
.opacity-hover:hover {
	opacity: .7;
}

section {
	position: relative;
}
section:before {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	background-color: var(--primary-color);
}
.zindex-fix > * {
	position: relative;
	z-index: 1;
}

.title-section-container {
	font-size: 30px;
	line-height: 34px;
	display: flex;
	flex-direction: column;
}

.title-section-container__small-text {
	font-size: 20px;
	font-weight: 600;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0 130px;
	/*
		width, чтобы две колоки и нужное кол-во карточек в строке,
		проставит нам наша логика JS при ините слайдера
		(не для второго слайдера)
	*/
}

.card.hovered:not(.inactive):hover {
	box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.5);
}
.card.inactive {
	position: relative;
	opacity: .5;
}
.card.inactive:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	/* мб у нас будут предполагаться не статичные размеры */
	bottom: 0;
	right: 0;
	z-index: 2;
}
.card_theme_horizontal {
	display: flex;
}
.card__img-container {
	background-color: var(--light-gray);
}
.card__content-wrapper-container {
	background-color: #fff;
	box-sizing: border-box;
}
.card__content-container {
	text-align: left;
	width: 100%;
}
.card__title-text {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
.card__price-info-container {
	display: flex;
	align-items: flex-start;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--accent-color-1)
}
.card__old-price {
	font-size: 14px;
	line-height: 17px;
	color: var(--light-gray);
}
.card__action-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__buy-btn {
	border: 0;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.card__buy-btn_normal {
	padding: 8px 7px;
	position: relative;
	left: 15px;
}
/* это скругления у кнопки */
.card__buy-btn_theme_accent-decore.card__buy-btn_normal:before,
.card__buy-btn_theme_accent-decore.card__buy-btn_normal:after {
	width: 30px;
}
.card__buy-btn_big {
	padding: 12px 15px;
	position: relative;
	left: 20px;
}
/* это скругления у кнопки */
.card__buy-btn_theme_accent-decore.card__buy-btn_big:before,
.card__buy-btn_theme_accent-decore.card__buy-btn_big:after {
	width: 40px;
}
.card__buy-btn_theme_accent-decore {
	position: relative;
}
/* это скругления у кнопки */
.card__buy-btn_theme_accent-decore:before,
.card__buy-btn_theme_accent-decore:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--accent-color-1);
    border: 0 solid transparent;
    border-radius: 50%;
    display: block;
    transform: translateX(-50%);
}
.card__buy-btn_theme_accent-decore:before {
	left: 0;
	transform: translateX(-50%);
}
.card__buy-btn_theme_accent-decore:after {
	right: 0;
	transform: translateX(50%);
}
.card__buy-btn-text-conteiner {
	position: relative;
	z-index: 1;
}
.card__details-link {
	font-weight: 700;
}
.card__details-link {
	color: var(--primary-color)
}

/* ------------- */
/* header styles */
/* ------------- */

/* Блок с лого компании, промо текстом и видосиком */
.header__container {
	width: 100%;
	display: grid;
	grid-template-columns: 9fr 3fr;
	box-sizing: border-box;
	height: 768px;
}

.header__promo-block {
	display: grid;
    grid-template-columns: 3fr 5fr;
	text-align: left;
}
.header__promo-text-container {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-top: 76px;
}
.header__company-logo-contaner {
	display: flex;
	justify-content: center;
}
.company-logo {
	max-width: 110px;
}
.header__promo-text {
	font-size: 54px;
	line-height: 70px;
	position: absolute;
	bottom: 76px;
	left: 0;
    transform: translateX(30%);
}
.header__promo-text_accent-decore {
	padding: 0 15px;
	position: relative;
    left: -13px;
}
.header__promo-video-container {
	background: url('../img/video-background.jpg') center;
    background-size: cover;
}
.header__promo-video-background {
	max-width: 670px;
}
/* из фигмы не понял как нормально выгрузить... нарисовал */
.header__play-btn {
	width: 54px;
    height: 54px;
	position: relative;
    background: #fff;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
}
.header__play-btn:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
	border: 7px solid transparent;
	border-left: 10px solid var(--accent-color-1);
	border-right-width: 0;
}
.header__play-btn:hover {
	box-shadow: 0 0 15px rgb(0, 0, 0, 0.8);
}

/* Блок с краткой информацией о числе товаров в корзине и навигацией */
.header__side-panel {
	padding: 89px 0 0 56px;
	text-align: left;
	background-color: var(--primary-color);
}
.header__basket-info {
	position: relative;
	cursor: pointer;
}
.basket-info__count-item-widget {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
    top: -13px;
    left: 14px;
	font-size: 14px;
}

.header__nav {
	display: flex;
    flex-direction: column;
	margin-top: 118px;
}
.header__nav-link {
	color: var(--light-gray);
	font-weight: 300;
	transition-property: font-weight;
}
.header__nav-link:not(:last-child) {
	margin-bottom: 30px;
}
.header__nav-link_active {
	font-weight: 700;
}
.header__nav:hover .header__nav-link {
	font-weight: 300;
}
.header__nav:hover .header__nav-link:hover {
	font-weight: 700;
}

/* ------------------------ */
/* styles for intro section */
/* ------------------------ */

.intro-section {
	padding: 87px 0 129px 0;
}
.intro-section__title-container {
	margin-bottom: 90px;
}

.intro-section__items-container {
	display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 68px;
    flex-wrap: wrap;
}
.intro-section-item__container {
	max-width: 226px;
}
.intro-section-item__img-container {
	display: flex;
	justify-content: center;
	padding-bottom: 42px;
}
.intro-section-item__body-text {
	margin-top: 12px;
}

/* -------------------------- */
/* styles for favorit section */
/* -------------------------- */

.favorite-section {
	padding: 81px 0 127px 0;
}
.favorite-section:before {
	width: 25%;
	left: 0;
}

.favorite-section__title-container {
	margin-bottom: 72px;
}

.favorite-section__items-container {
	position: relative;
	overflow: hidden;
}

.favorite-section-item {
	height: 256px;
}

.favorite-section-item__img-container {
	width: 235px;
}
.favorite-section-item__content-wrapper-container {
	width: 325px;
	padding: 42px;
}

.favorite-section-item__title-text {
	margin: 8px 0 24px;
}

.favorite-section-item__action-block {
	margin-top: 33px;
}

/* -------------------------- */
/* styles for giftset section */
/* -------------------------- */

.giftset-section {
	padding: 86px 0 125px 0;
}
.giftset-section:before {
	width: 75%;
	left: 0;
	background-color: var(--light-gray);
}

.giftset-section__title-container {
	margin-bottom: 66px;
}

.giftset-section__content-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 1138px;
	height: 460px;
	margin: 0 auto;
	/* адаптив через flex-direction: column */
}

.giftset-section__items-container {
	height: 100%;
	width: 794px;
}

.giftset-section-item {
	height: 100%;
	width: 100%;
}
.giftset-section-item.inactive {
	display: none;
}
.giftset-section-item__img-container {
	width: 195px;
	position: relative;
	background-color: #fff;
}
.giftset-section-item__img {
	position: absolute;
	top: 0;
	left: 0;
    transform: translateX(-50%);
}

.giftset-section-item__content-wrapper-container {
	width: 599px;
	padding: 55px;
}

.giftset-section__switcher {
	width: 88px;
	color: var(--primary-color);
	background-color: var(--light-gray);
}

/* ------------------------ */
/* styles for combo section */
/* ------------------------ */

.combo-section {
	padding: 86px 0 128px 0;
}
.combo-section:before {
	width: 25%;
	right: 0;
}

.combo-section__title-container {
	margin-bottom: 64px;
}

/* ------------- */
/* footer styles */
/* ------------- */

footer {
	background-color: var(--light-gray);
	padding: 18px 0 20px 0;
}